.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    border: 1px black solid;
    border-radius: 30px;
    margin: 5px;
    font-size: 22px;
}