.busca{
    width: 165px;
    height: 30px;
    border: 1px black solid;
    border-radius: 30px;
    margin: 5px;
    padding-left: 13px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    border: 1px black solid;
    border-radius: 30px;
    margin: 5px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   