.bordaStatus{
    position: relative;
    top: 32.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 410px;
    height: 660px;
    background-color: red;
    margin-left: 10px;
    border-radius: 15px;
}
.imag{
    width:80%;
    height: 35%;
    background-color: white;
    border: 4px black solid;
    border-radius: 15px;
}
.tipos {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .bordaStatus{
        left: 10px;
    }
}