.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barra {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 10px;
    background-color: wheat;
    border: 1px black solid;
    border-radius: 10px;
}
.barraPorgressiva{
    padding-left: 7px;
    background-color: #357edd;
    color: #fff;
    border-radius: 10px;

}